.container {
  display: flex;
  flex-direction: column;
  gap: 2rem 2rem;
}

.checkboxes {
  border: solid 1px #282828;
  height: fit-content;
  max-width: 576px;
  margin: auto;
  display: flex;
  gap: 1rem 1rem;
}

@media screen and (min-width: 1024px) {
  .container {
    flex-direction: row-reverse;
  }

  .checkboxes {
    flex: auto;
    border: solid 1px #282828;
    padding: 1rem;
    max-width: 384px;
  }

  .chart {
    flex: auto;
    height: 90vh;
  }
}
